* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 25px;
  font-weight: 600;
  background: #ff8da1;
  color: #fff;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header .banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
  border-radius: 8px;
  height: 200px;
  width: 500px;
}

.title {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
  color: #e75480;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.login-form {
  background: #e75480;
  padding: 20px 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

input[type="text"],
input[type="password"] {
  padding: 8px 12px;

  margin-top: 5px;
  border: none;
  border-radius: 5px;

  font-size: 1rem;
}

.btn {
  background-color: #ff8da1;
  color: white;
  font-weight: bold;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff8da1;
}

.links {
  text-align: center;
}

.links a {
  color: #ff8da1;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}


