body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: #1a1a1a;
}

.header {
  background-color: #e75480;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

nav li {
  flex: 1;
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 30px 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s;
}

nav a:hover {
  background-color: #ff8da1;
}

nav i {
  font-size: 20px;
}

.container {
  max-width: 600px;
  margin: 25px auto;
  padding: 2rem;
  background: #222;
  border-radius: 15px;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #e50914;
  margin-bottom: 0.3rem;
  margin-top: -0.3rem;
}

.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}

form label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  color: #ddd;
  font-weight: 600;
}

.login-form {
  margin-top: -25px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #0066cc;
}

fieldset {
  border: none;
  margin-bottom: 1.5rem;
}

fieldset legend {
  font-weight: bold;
  color: #eee;
}

fieldset span {
  display: inline-block;
  margin-left: 10px;
  color: #eee;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.btn {
  background-color: #e50914;
  color: white;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #b0070f;
}

.contenedor-footer {
  background-color: #f8bbd0;
  color: #333;
  border-top: 2px solid #e91e63;
  letter-spacing: 0.5px;
  padding: 3px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

#fila {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 20px;
}

#fila h5 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #e91e63;
  margin: 25px 0 20px 0;
  text-align: center;
  width: 100%;
}

.menu-footer {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-footer li {
  margin-bottom: 10px;
  text-align: center;
}
